[Desktop Entry]
Type=Application
Name=Brushpad
GenericName=Paint Program
Comment=Paint images on Linux X11
Exec=brushpad
Icon=org.brushpad.Brushpad
Terminal=false
Categories=GTK;Graphics;2DGraphics;RasterGraphics;
StartupNotify=true
Keywords=paint;draw;raster;
