[Desktop Entry]
Type=Application
Name=Lunduke Paint
GenericName=Paint Program
Comment=Layered bitmap paint program for Linux X11
Exec=brushpad
Icon=org.brushpad.Brushpad
Terminal=false
Categories=GTK;Graphics;2DGraphics;RasterGraphics;
StartupNotify=true
Keywords=paint;draw;raster;
